<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title><%= current_page.data.title || "Aweome Jobs" %></title>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag "all" %>
        <%= stylesheet_link_tag "modal" %>
    </head>
    <body>

  <div id="content">
      <div id="header">
        <h1>Awesome Jobs</h1>
        <h3>Listing awesome jobs since 2015!</h3>
      </div>

      <div id="search-bar">
        <input type="text" name="jobtype" value="" placeholder="Search: Javascript, CSS, Coding cats..."/>
        <a href="#" class="btn" id="post-job">Post a job: $200 for 30 days</a>
        <div class="clear"></div>
      </div>
      
      <%= yield %>
    </div>

    <template id="signup_box">
      <form class="modalForm">
        <label>Full Name</label>
        <input type="text" name="fullName" placeholder="Your name"/>

        <label>Credit Card Number</label>
        <input type="text" name="cc" placeholder="Your Money please!"/>

        <label>Company name</label>
        <input type="text" name="companyName" placeholder="Company Name"/>

        <label>Job Title</label>
        <input type="text" name="jobTitle" placeholder="Job Title"/>

        <div>
          <button type="submit">Add now!</button>
          <button id="closeModal">Take me out of here!</button>
        </div>
      </form>
    </template>

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
    <%= javascript_include_tag('all.js') %>   
  </body>
</html>
